@model BTracker.Models.Views.TicketViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container m-t-20">
    <div style="padding: 10px 0px; margin-bottom: 20px; border-bottom: 1px solid rgb(0, 0, 0, 0.1)">
        @await Html.PartialAsync("_TicketHeader", Model.Ticket)
    </div>

    <div class="limiter" style="padding: 0px 0px 20px 0px;">
        <div class="wrap-table100">
            <div class="table100">
                <table class="detailsTicketTable">
                    <tbody>
                        <tr class="dis-flex flex-row align-items-center">
                            <td class="col-8">
                                Ticket Description:
                            </td>
                            <td class="col-4">
                                <dl class="m-b-0">
                                    @if (Model.Ticket.TicketDescription == null)
                                    {
                                        <dt>
                                            <a id="indexProjectLink" asp-action="Edit" asp-controller="Tickets" asp-route-id="@Model.Ticket.Section.ProjectId" asp-route-sectionId="@Model.Ticket.SectionId" asp-route-ticketId="@Model.Ticket.TicketId" asp-route-place="@ViewData["Title"]">
                                                Add a ticket description
                                            </a>
                                        </dt>
                                    }
                                    else
                                    {
                                        <dt>
                                            @Html.DisplayFor(model => model.Ticket.TicketDescription)
                                        </dt>
                                    }
                                </dl>
                            </td>
                        </tr>
                        <tr class="dis-flex flex-row align-items-center">
                            <td class="col-8">
                                User Assigned:
                            </td>
                            <td class="col-4">
                                <dl class="m-b-0">
                                    @if (Model.Ticket.UserId == null)
                                    {
                                        <dt>
                                            <a id="indexProjectLink" asp-action="Edit" asp-controller="Tickets" asp-route-id="@Model.Ticket.Section.ProjectId" asp-route-sectionId="@Model.Ticket.SectionId" asp-route-ticketId="@Model.Ticket.TicketId" asp-route-place="@ViewData["Title"]">
                                                Assign User To Ticket
                                            </a>
                                        </dt>
                                    }
                                    else
                                    {
                                        <dt>
                                            @Html.DisplayFor(model => model.Ticket.User.Email)
                                        </dt>
                                    }
                                </dl>
                            </td>
                        </tr>
                        <tr class="dis-flex flex-row align-items-center">
                            <td class="col-8">
                                Project Name:
                            </td>
                            <td class="col-4">
                                <dl class="m-b-0">
                                    <dt>
                                        @Html.DisplayFor(model => model.Ticket.Section.Project.ProjectName)
                                    </dt>
                                </dl>
                            </td>
                        </tr>
                        <tr class="dis-flex flex-row align-items-center">
                            <td class="col-8">
                                Ticket State:
                            </td>
                            <td class="col-4">
                                <dl class="m-b-0">
                                    <dt>
                                        @Html.DisplayFor(model => model.Ticket.TicketState.TicketStateName)
                                    </dt>
                                </dl>
                            </td>
                        </tr>
                        <tr class="dis-flex flex-row align-items-center">
                            <td class="col-8">
                                Ticket Priority:
                            </td>
                            <td class="col-4">
                                <dl class="m-b-0">
                                    <dt>
                                        @Html.DisplayFor(model => model.Ticket.TicketPriority.TicketPriorityName)
                                    </dt>
                                </dl>
                            </td>
                        </tr>
                        <tr class="dis-flex flex-row align-items-center">
                            <td class="col-8">
                                Ticket Limit Date:
                            </td>
                            <td class="col-4">
                                <dl class="m-b-0">
                                    <dt>
                                        @Html.DisplayFor(model => model.Ticket.Date)
                                    </dt>
                                </dl>
                            </td>
                        </tr>
                        <tr class="dis-flex flex-row align-items-center">
                            <td class="col-8">
                                Submitter:
                            </td>
                            <td class="col-4">
                                <dl class="m-b-0">
                                    <dt>
                                        @Html.DisplayFor(model => model.Ticket.Submitter.Email)
                                    </dt>
                                </dl>
                            </td>
                        </tr>
                        <tr class="dis-flex flex-row align-items-center">
                            <td class="col-8">
                                Ticket Creation Date:
                            </td>
                            <td class="col-4">
                                <dl class="m-b-0">
                                    <dt>
                                        @Html.DisplayFor(model => model.Ticket.CreateDate)
                                    </dt>
                                </dl>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div>
        <form asp-action="Create" method="post" asp-controller="Comments">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.TicketId" value="@Model.Ticket.TicketId" />
            <input type="hidden" asp-for="Comment.UserId" value="@ViewBag.userId" />

            <div class="form-group">
                <label asp-for="Comment.Content" class="control-label"></label>
                <input asp-for="Comment.Content" class="form-control" />
                <span asp-validation-for="Comment.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div>
        @await Component.InvokeAsync("DisplayComment", new { Model.Ticket.TicketId })
    </div>

    <div>
        <a asp-action="List" asp-controller="Projects" asp-route-id="@ViewBag.id">Back to List</a>
    </div>
</div>
