@model BTracker.Models.Ticket

@{
    ViewData["Title"] = "UserToTicket";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <section>
                <form class="login100-form validate-form" id="account" method="post" asp-route-place="@ViewBag.place">
                    <span class="login100-form-title p-b-26">
                        Assign a <b style="color: #150940">User</b> to "@Html.DisplayFor(model => model.TicketName)" ticket
                    </span>
                    <span asp-validation-summary="ModelOnly" class="text-danger"></span>

                    <input type="hidden" asp-for="TicketId" />
                    <input type="hidden" asp-for="TicketName" />
                    <input type="hidden" asp-for="TicketPriorityId" />
                    <input type="hidden" asp-for="TicketStateId" />
                    <input type="hidden" asp-for="SectionId" value="@ViewBag.sectionId" />
                    <input type="hidden" asp-for="SubmitterId" />
                    <input type="hidden" asp-for="CreateDate" />

                    <div class="wrap-input100 validate-input">
                        <select asp-for="UserId" class="input100" asp-items="ViewBag.UserId"></select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <button class="login100-form-btn submitFormBtn" type="submit">
                                Save
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                        <span class="txt1">
                            <a asp-action="@ViewBag.place" asp-controller="Projects" asp-route-id="@ViewBag.projectId">Back to @ViewBag.place</a>
                        </span>
                    </div>

                </form>
            </section>
        </div>
    </div>
</div>

@*<h4>Assign User to "@Html.DisplayFor(x => x.TicketName)" ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserToTicket" asp-route-place="@ViewBag.place">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TicketId" />
            <input type="hidden" asp-for="TicketName" />
            <input type="hidden" asp-for="TicketPriorityId" />
            <input type="hidden" asp-for="TicketStateId" />
            <input type="hidden" asp-for="SectionId" value="@ViewBag.sectionId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

*@