@model BTracker.Models.Views.ProjectSectionAndTicketsViewModel

@{
    ViewData["Title"] = "Index";
    var projectName = Model.Project.ProjectName;
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create New", "Create", "ProjectAccesses", new { id = ViewBag.currentProjectId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Project name
            </th>
            <th>
                Access level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProjectAccesses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @projectName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessLevel.AccessName)
            </td>
            <td>
                @Html.ActionLink("Edit |", "Edit", "ProjectAccesses", new { id = Model.Project.ProjectId, projectAccessId = item.ProjectAccessId })
                @Html.ActionLink("Details |", "Details", "ProjectAccesses", new { id = Model.Project.ProjectId, projectAccessId = item.ProjectAccessId })
                @Html.ActionLink("Delete", "Delete", "ProjectAccesses", new { id = Model.Project.ProjectId, projectAccessId = item.ProjectAccessId })
            </td>
        </tr>
}
    </tbody>
</table>
