@model BTracker.Models.Section
@{
    var pageName = ViewData["Title"].ToString();
}

@if (pageName == "List")
{
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayFor(model => model.SectionName)
            </dt>
            @if(Model.ToUserId == null)
            {
               <dt class="txt1">
                   <a asp-action="UserToSection" asp-controller="Sections" asp-route-id="@Model.ProjectId" asp-route-sectionId="@Model.SectionId" asp-route-place="@ViewData["Title"]"><b>Assign User</b></a>
               </dt>     
            }
            else
            { 
                <dt class="txt1">
                    Assigned To: @Html.DisplayFor(model => model.ToUser.Email)
                </dt>
            }
        </dl>
        @foreach (var ticket in Model.Tickets)
        {
            @await Html.PartialAsync("_SeeTicketSection", ticket);
        }
    </div>
}
else if (pageName == "Board")
{
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SectionName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SectionName)
            </dd>
        </dl>
        @foreach (var ticket in Model.Tickets)
        {
            @await Html.PartialAsync("_SeeTicketSection", ticket);
        }
    </div>
}
