@model BTracker.Models.Views.ProjectsAndUser

@{
    ViewData["Title"] = "Index";
}

@*@await Component.InvokeAsync("ListProjects", Model.UserId)
*@

<div class="container">
    <table class="table table-striped">
        @foreach (var project in Model.Projects)
        {
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelProject => project.ProjectName)</td>
                    @if (project.UserId == ViewBag.currentUserId)
                    {
                        <td>
                            Me
                        </td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(modelProject => project.User.Email)</td>
                    }
                    <td>
                        <a asp-action="Details" asp-route-id="@project.ProjectId">Details</a> |
                        <a asp-action="List" asp-route-id="@project.ProjectId">List</a> |
                        <a asp-action="Board" asp-route-id="@project.ProjectId">Board</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

</div>